{% extends "base.html" %}
{% block content %}
<div class="col-md-8 panel panel-danger" style="margin-bottom:50px;margin-left:17%; margin-right:17%">
              <div class="panel-body text-center">
          <h1>Edit Menu Item for {{ item.name }}</h1>
          <hr>
          <br>
<form action= "{{url_for('editRestaurant', restaurant_id = restaurant_id)}}" method = 'POST'>
<div class="form-group">
              <label class="control-label col-sm-2" for="name">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder='{{item.name}}' name="name">
              </div>
            </div>
            <br>
             <div class="form-group">
            <br>
              <div class="">


<input type='submit' value='Edit' class = "btn btn-danger" id="btn1">
<a href= '{{url_for('restaurants')}}' id="btn1" class="btn btn-primary">Cancel</a>
</div>
</div>
</form>
</div>
</div>

</body>
</html>

{% endblock %}
